DATABASE_URL=your_neon_postgres_connection_string_here

BETTER_AUTH_SECRET=your_secret_key_here_generate_with_openssl_rand_base64_32
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

UPLOADTHING_TOKEN=your_token_here

RESEND_API_KEY=your-resend-api-key
RESEND_EMAIL_SENDER=your-email-sender-address  # Format: name@yourdomain.com
